[submodule "project/static_media/js/lib/jquery"]
	path = project/static_media/js/lib/jquery
	url = git://github.com/jquery/jquery.git
[submodule "project/static_media/js/lib/node"]
	path = project/static_media/js/lib/node
	url = git://github.com/ry/node.git
[submodule "testing/static_media/js/lib/node"]
	path = testing/static_media/js/lib/node
	url = git://github.com/ry/node.git
[submodule "testing/static_media/js/lib/jquery"]
	path = testing/static_media/js/lib/jquery
	url = git://github.com/jquery/jquery.git
[submodule "static_media/js/lib/node"]
	path = static_media/js/lib/node
	url = git://github.com/ry/node.git
[submodule "static_media/js/lib/jquery"]
	path = static_media/js/lib/jquery
	url = git://github.com/jquery/jquery.git
[submodule "lanalytics/static_media/js/lib/node"]
	path = lanalytics/static_media/js/lib/node
	url = git://github.com/ry/node.git
[submodule "lanalytics/static_media/js/lib/jquery"]
	path = lanalytics/static_media/js/lib/jquery
	url = git://github.com/jquery/jquery.git
[submodule "lanalytics/static_media/js/lib/jquery.autocomplete"]
	path = lanalytics/static_media/js/lib/jquery.autocomplete
	url = git://github.com/agarzola/jQueryAutocompletePlugin.git
[submodule "lanalytics/static_media/js/lib/jquery.form"]
	path = lanalytics/static_media/js/lib/jquery.form
	url = git://github.com/malsup/form.git
