django
django-devserver
django-compress
django-extensions
django-debug-toolbar
django-staticmedia
sqlparse
werkzeug
guppy
-e git+git://github.com/clintecker/django-google-analytics.git#egg=django-google-analytics
django-social-auth
south
django-annoying
