{% extends 'base.html' %}
{% load i18n %}

{% block header %}{% endblock %}
{% block page-title-root %}{% endblock %}

{% block content-text %}

		<h3><a href="{% url login %}">Sign In</a> or Sign Up</h3>
		<p>You can <a href="{% url login %}">sign up</a> using external authentication service like 
			<a href="{% url begin 'google' %}">Google</a>, <a href="{% url begin 'yahoo' %}">Yahoo</a> or 
			<a href="{% url begin 'twitter' %}">Twitter</a>.
		<br /><br /><br /></p>
		
        
        
{% endblock %}

{% block content-work %}

    <form method="post" action="{% url registration %}" class="form">
		{% csrf_token %}
		<h2>Registration form</h2>
        {{ form.as_p }}

        <input type="submit" value="Sign Up" />
    </form>

{% endblock %}