{% extends 'base.html' %}
{% load i18n %}

{% block extra_head %}
    <script type="text/javascript">
        $(function (){
            $('div.piechart .info').click(function (){
                var info = $(this).parent().find('div.piechart-info');
                info.toggle();
            });
        });
    </script>
{% endblock %}

{% block content-text %}
	<br /><br />
    <div>
        <div class="piechart">
            <a href="javascript:void(0);" class="info">{% trans 'info' %}</a>
            <img rel="browsers" src="https://chart.googleapis.com/chart?chco=F13D3D|B0F23D|3DECF2|007C00|7D007D|000F7D&cht=p&chtt=Browser&chs=300x200&{{ chart_browsers|safe }}" />
            <div class="piechart-info">
                <h3>{% trans 'Browsers' %}</h3>
                <table>
                    {% for i in browsers %}
                        <tr>
                            <th>{{ i.name }}</th>
                            <td>{{ i.count }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
		<br /><br /><br /><br />
		<div class="piechart">
            <a href="javascript:void(0);" class="info">{% trans 'info' %}</a>
            <img rel="browsers_version" src="https://chart.googleapis.com/chart?chco=001EFF|00FF7B|FFF700|FF0051|D4FF00|9900FF|36BFD1&cht=p&chtt=Browser+version&chs=300x200&{{ chart_browsers_version|safe }}" />
            <div class="piechart-info">
                <h3>{% trans 'Browsers version' %}</h3>
                <table>
                    {% for i in browsers_version %}
                        <tr>
                            <th>{{ i.name }} {{ i.version }}</th>
                            <td>{{ i.count }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
	<br /><br />

{% endblock %}

{% block content-work %}
    <div class="analytics">
        <h2>Statistic for &laquo;{{ site.name }}&raquo;</h2>
        {% if not site.analytics.count %}
            <div class="msg align-center">{% trans 'NO DATA' %}</div>
        {% else %}
        <img style="margin-left:20px;" src="{% url statistic_graph pk=site.pk %}" width="550" height="200" />
		<br /><br /><br /><br />
	    <div>
	        <div class="piechart">
                <a href="javascript:void(0);" class="info">{% trans 'info' %}</a>
    	        <img rel="os" src="https://chart.googleapis.com/chart?chco=D136BF|D13D7D|FFB700|00FF7B|169453|163A94|941A16&cht=p&chtt=OS&chs=270x200&{{ chart_os|safe }}" />
    	        <div class="piechart-info">
                    <h3>{% trans 'OS' %}</h3>
                    <table>
                        {% for i in os %}
                            <tr>
                                <th>{{ i.name }}</th>
                                <td>{{ i.count }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
	        </div>
	        <div class="piechart">
                <a href="javascript:void(0);" class="info">{% trans 'info' %}</a>
    	        <img rel="flash" src="https://chart.googleapis.com/chart?chco=2F9416|2D205A|7655EC|EDD455|DA6C68|CF68D9|91D968&cht=p&chtt=Flash+version&chs=270x200&{{ chart_flash|safe }}" />
    	        <div class="piechart-info">
                    <h3>{% trans 'Flash' %}</h3>
                    <table>
                        {% for i in flash %}
                            <tr>
                                <th>{{ i.version }}</th>
                                <td>{{ i.count }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
	        </div>
            <div class="clean"></div>
	    </div>
		<br /><br />
	    <div>
	        <div class="piechart">
                <a href="javascript:void(0);" class="info">{% trans 'info' %}</a>
    	        <img rel="resolution" src="https://chart.googleapis.com/chart?chco=724B7E|7D5B4B|4B7D5D|A51D8E|A1A61E|A61E44&cht=p&chtt=Screen+resolution&chs=270x200&{{ chart_resolution|safe }}" />
    	        <div class="piechart-info">
                    <h3>{% trans 'Resolution' %}</h3>
                    <table>
                        {% for i in resolution %}
                            <tr>
                                <th>{{ i.resolution }}</th>
                                <td>{{ i.count }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
	        </div>
	        <div class="piechart">
                <a href="javascript:void(0);" class="info">{% trans 'info' %}</a>
    	        <img rel="referrer" src="https://chart.googleapis.com/chart?cht=p&chtt=Referrer&chs=270x200&{{ chart_referrer|safe }}" />
    	        <div class="piechart-info">
                    <h3>{% trans 'Referrers' %}</h3>
                    <table>
                        {% for i in referrer %}
                            <tr>
                                <th>{{ i.host }}</th>
                                <td>{{ i.count }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
	        </div>
	    </div>
        {% endif %}
    </div>
{% endblock %}
