/*
 * Available web fonts:
 *   - font-family: 'AniversRegular',Arial,sans-serif;
 *   - font-family: 'MuseoSlab500',Arial,sans-serif;
 *   - font-family: 'MuseoSlab500Italic',Arial,sans-serif;
 */
/*a {
    color: #04f;
}*/

div.clean {
	clear:both;
}

.top-decorator {
	background-color:#000;
	font-family: 'AniversRegular',Arial,sans-serif;
	color:#fff;
	font-size:11px;
	padding-top:5px;
	padding-bottom:5px;
}
.top-decorator-content {
	width:1024px;
	margin:0 auto;
	color:#f0f0f0;
}
.top-decorator a {
	color:#fff;
}
.top-decorator a:hover,
.top-decorator a:visited {
	color:#f0f0f0;
}
.top-decorator a:active {
	color:#fff;
}

#header,
#content,
#footer {
	width:1024px;
	border:0px dashed #c6c6c6;
	margin:0 auto;
}
#header {
	padding-top:20px;
	padding-bottom:20px;
}
/**
 * grid
 */
.grid-cell {
	float:left;
}
.grid-cell-right {
	float:right;
}

#content {

}

#content .text-section {
	width:360px;
	float:left;
	padding:25px;
	clear:left;
}



#content .work-section {
	width:600px;
	overflow:hidden;
}

#content .work-section h2 {
	font-size:26px;
	font-family:'AniversRegular',Arial,sans-serif;
	color:#000;
	font-weight:normal;
	border-bottom:1px solid #454545;
	padding-bottom:4px;
	margin-bottom:25px;
}


.header-logo-section {
	width:40%;
}
.header-menu-section {
	width:60%;
}

#header h1 {
	font-size:44px;
	letter-spacing:-1px;
	font-family: 'AniversRegular',Arial,sans-serif;
}
#header h1 a {
	text-decoration:none;
	color:#000;
}



#header .user input {
    width: 36%;
}
#header .user input[type=submit] {
    width: auto;
}
#header ul.menu {
    font-family: 'AniversRegular',Arial,sans-serif;
	font-size:16px;
}
#header ul.menu li span.sites-amount {
	display:inline-block;
	background-color:#ee0000;
	position:relative;
	top:-1px;
	left:0;
	min-width:10px;
	padding-left:2px;
	padding-right:2px;
	height:12px;
	font-size:10px;
	padding-top:1px;
	font-family:"Arial Black", "Arial", arial, sans-serif;
	text-align:center;
	color:#fff;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
}
#header ul.menu,
#header ul.menu li {
    margin: 0px;
    list-style: none;
}
#header ul.menu li {
    padding: 0px 2px;
	float:left;
	margin-right:100px;
	margin-top:17px;
	padding-bottom:4px;
	margin-bottom:0;
    border-bottom: 3px #fff solid;
}
#header ul.menu li.current {
    border-bottom: 3px #000 solid;
}
#header ul.menu li a {
    text-decoration: none;
    color: #787878;
}
#header ul.menu li.current a {
    color: #000;
}

#content .code-sample-inline {
	display:inline-block; 
	padding:4px; 
	background-color:#e9e9e9; 
	margin-top:5px;
	border:1px solid #c8c8c8;
}

#content .embed-code-holder .embed-code {
	width:350px;
	height:120px;
	margin-bottom:25px;
	border:1px solid #000;
	font-family:"Monaco", "Courier New", courier;
}


#content .text-section {
	border-right:1px solid #000;
	margin-top:50px;
	font-family:'MuseoSlab500',Arial,sans-serif;
}

#content .text-section h3 {
	margin-bottom:0;
	margin-top:25px;
}
#content .work-section a.signup {
	color:#000;
	font-family:'MuseoSlab500',Arial,sans-serif;
	text-decoration:underline;
	display:inline-block;
	margin-left:0px;
}
#content .text-section a {
	color:#000;
}
#content .text-section p {
	font-size:15px;
	margin-top:30px;
	line-height:26px;
}
#content .embed-code-holder p {
	margin-top:15px;
}

#content .text-section dl.profile {
	font-family:'MuseoSlab500',Arial,sans-serif;
	font-size:15px;
	margin-top:30px;
}

#content .text-section dl.profile dt {
	font-weight:bold;
	width:110px;
	display:inline-block;
	margin-bottom:25px;
}
#content .text-section dl.profile dd {
	display:inline-block;
	width:220px;
	margin-bottom:25px;
}

#content .form {
    padding: 20px;
    font-size: 110%;
    display: inline-block;
    margin: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

#content .form span.helptext {
	display:block;
	padding-left:130px;
	font-size:12px;
	font-family: 'MuseoSlab500Italic',Arial,sans-serif;;
	color:#676767;
}
#content .form p {
	margin-bottom:15px;
}
#content .form label {
    width: 120px;
	font-family: 'MuseoSlab500',Arial,sans-serif;
	font-size:12px;
    text-align: right;
    padding-right: 5px;
    display: inline-block;
}
#content .form h2 {
	font-family: 'MuseoSlab500',Arial,sans-serif;
	font-size:26px;
	color:#000;
	margin-left:130px;
	border-bottom:2px solid #000;
	font-weight:normal;
}
#content .form input {
    margin-bottom: 5px;
    width: 350px;
	font-size:16px;
	font-family: 'MuseoSlab500',Arial,sans-serif;
	padding:5px;
	border:1px solid #000;
}
#content .form input.readonly {
	background-color:#f1f1f1;
	color:#343434;
}
#content .form input[type=submit],
#content .form input[type=button],
#content .form .buttons {
    width: auto;
	background-color:#000;
	color:#fff;
	padding-right:20px;
	padding-left:20px;
	margin-left:130px;
}

#content .form input[type=submit]:active,
#content .form input[type=button]:active,
#content .form .buttons:active {
	background-color:#232323;
}

#content .form a {
    text-decoration: none;
}

#content .share-with {
    font-family: 'AniversRegular',Arial,sans-serif;
}
#content .share-with .user a {
    margin-left: 2px;
    vertical-align: top;
}

#content .sites-table {
	margin-left:25px;
	width:95%;
	font-family: 'MuseoSlab500',Arial,sans-serif;
	font-size:14px;
}
#content .sites-table .controls {
	text-align:center;
}

#content .sites-table a.change-site {
	color:#000;
	text-decoration:none;
}
#content .sites-table tr.header {
	background-color:#f0f0f0;
}
#content .sites-table tr.header th {
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:1px solid #c8c8c8;
	border-right:1px solid #fff;
}

#content .sites-table tr.shaded {
	background-color:#f6f6f6;
	border-right:1px solid #fff;
	border-top:1px solid #c8c8c8;
}

#content .sites-table tr td {
	padding:5px;
}
#content .sites-table tr td.check {
	text-align:center;
}
#content .sites-table tr td.key {
	width:110px;
}
#content .sites-table tr td.key input {
	width:100px;
	border:1px solid #000;
	font-size:11px;
	padding:3px;
}
#content .site h1 a {
    color: #000;
}
#content .site .delete {
    float: right;
    text-decoration: none;
    color: #933;
    text-shadow: 1px 1px 1px #ddd;
}

#content .social {
    padding: 20px;
}
#content .social a {
    font-size: 120%;
    text-decoration: none;
    margin: 1px 10px;
}
#content .social #openid_lj_user {
    background: #fff url(https://www.livejournal.com/img/userinfo.gif?v=1) no-repeat left;
    padding-left: 20px;
}
#content .box {
    padding: 15px;
    margin: 5px;
    display: inline-block;
    background-color: #9bc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
.embed-code {
    width: auto;
}

#tabs,
#tabs li {
    list-style: none;
    
}
#tabs li {
    display: inline-block;
}
#panels {
    display: none;
}


ul.errorlist {
	font-family: 'MuseoSlab500Italic',Arial,sans-serif;
	display:block;
	margin-left:130px;
	font-size:14px;
}
ul.errorlist,
ul.errorlist li {
    list-style-type: none;
}
ul.errorlist li {
    padding-left: 3px;
    color: #EE0000;
}

#js_code {
    margin-top: 10%;
    width: 98%;
    height: 100px;
}

.align-center {
    text-align: center;
}

a.edit,
a.edit:visited,
a.delete,
a.delete:visited {
	font-family:'AniversRegular',Arial,sans-serif;
	text-decoration:none;
	display:inline-block;
	background-color:#36B126;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	padding:2px;
	padding-top:3px;
	padding-right:5px;
	padding-left:5px;
	color:#fff;
	text-shadow:0 -1px #1D5C14;
	text-transform:uppercase;
	font-size:10px;
	font-weight:bold;
}

a.edit:active {
	background-color:#45D333;
}

a.delete,
a.delete:visited {
	background-color:#D43333;
}

a.delete:active {
	background-color:#F13D3D;
}

.message {
	font-family:'MuseoSlab500',Arial,sans-serif;
	font-size:18px;
	padding:50px;
}

.message a {
	color:#000;
}

#footer { 
	font-family: 'AniversRegular',Arial,sans-serif;
	margin-top:100px;
	margin-bottom:50px;
}

#footer a {
	color:#000;
}

#footer a:hover {
	color:#343434;
}

#footer .copyright {
	font-size:12px;
	margin-left:30px;
}
.social {
	margin-left:100px;
	font-family: 'AniversRegular',Arial,sans-serif;
	
	
}

.social a {
	color:#000;
	border-bottom:3px solid #c9c9c9;
	padding-bottom:2px;
}

.social a:hover {
	border-bottom:3px solid #000;
}

#content .analytics h2 {
	border-bottom:0;
	margin-left:35px;
	margin-top:45px;
}

/**
 * Main page
*/
.main-picture {
	position:relative;
	top:0; left:0;
	width:300px;
	height:300px;
}
.main-picture .img1,
.main-picture .img0 {
	position:absolute;
	top:0; left:0;
	z-index:90;
}
.main-picture .img1 {
	margin-left:0px;
	z-index:80;
	top:90px;
	left:160px;
}