{% extends 'base.html' %}

{% block content %}
    <div>
        <h2>sites: {{ user.sites.count }}</h2>
    </div>

    {% for site in user.sites.all %}
        <div class="site box">
            <div class="delete">
                <a href="{% url edit_site pk=site.pk %}">edit</a>
                <a href="{% url delete_site pk=site.pk %}" alt="delete" title="delete">x</a>
            </div>
            <h1><a href="{% url site_statistic pk=site.pk %}">{{ site.name }}</h1>
            <a href="{{ site.url }}" target="_blank">{{ site.url }}</a><br />
            
			<textarea name="embed-code" rows="8" cols="40">{% include 'account/embed_code.html' %}</textarea>
        </div>
    {% endfor %}
    
{% endblock %}