{% extends 'base.html' %}

{% block  page-title %}Sites{% endblock %}

{% block extra_head %}
{{ block.super }}
{% endblock %}

{% block content-text %}
	{% if site %}
	<div class="embed-code-holder">
		<h3>Available Sites</h3>
		<p>Inster this code before <pre class="code-sample-inline">&lt;/body&gt;</pre> tag</p>
        <form action=""><textarea name="embed-code" id="embed-code" class="embed-code">{% include 'account/embed_code.html' %}</textarea></form>
	</div>
	{% else %}
	<div class="embed-code-holder">
		<h3>Embed code</h3>
		<p>Please, fill form and save site to get embed code<br /><br /><br /></p>
	</div>
	{% endif %}
{% endblock %}

{% block content-work %}
{% if request.user.lanalytic_sites.all|length > 0 %}
<form action="" method="post">
<table class="sites-table" border="0">
	<tr class="header">
		<th>&nbsp;</th>
		<th>URL</th>
		<th>Name</th>
		{#<th>Key</th>#}
		<th>&nbsp;</th>
	</tr>
	{% for site in request.user.lanalytic_sites.all %}
	<tr class="{% cycle '' 'shaded' %}">
		<td class="check"><input type="checkbox" name="key[{{ site.key }}]" value="{{ site.key }}" id="key_check_{{ site.id }}" /></td>
		<td><a class="change-site" href="{% url site_statistic pk=site.key %}">{{ site.host_name }}</a></td>
		<td><a class="change-site" href="{% url site_statistic pk=site.key %}">{{ site.name }}</a></td>
		{#<td class="key"><input type="text" name="key[{{ site.id}}]" value="{{ site.key }}" id="key_{{ site.id }}" /></td>#}
		<td class="controls">
			<a href="{% url edit_site pk=site.key %}" class="edit">edit</a>
			&nbsp;&nbsp;&nbsp;
			<a href="{% url delete_site pk=site.key %}" class="delete" alt="delete" onclick="return confirm('Are you sure?');" title="delete">delete</a>
		</td>
	</tr>
	{% endfor %}
</table>
</form>
{% else %}
	<p class="message">No sites available. Please, <a href="{% url add_site %}">add new one</a></p>
{% endif %}

{% if user.share_sites.all %}
<br />
<table class="sites-table" border="0">
	<tr class="header">
		<th>&nbsp;</th>
		<th>URL</th>
		<th>Name</th>
	</tr>
	{% for site in user.share_sites.all %}
	<tr class="{% cycle '' 'shaded' %}">
		<td class="check"><input type="checkbox" name="key[{{ site.key }}]" value="{{ site.key }}" id="key_check_{{ site.id }}" /></td>
		<td><a class="change-site" href="{% url site_statistic pk=site.key %}">{{ site.host_name }}</a></td>
		<td><a class="change-site" href="{% url site_statistic pk=site.key %}">{{ site.name }}</a></td>
		{#<td class="key"><input type="text" name="key[{{ site.id}}]" value="{{ site.key }}" id="key_{{ site.id }}" /></td>#}
	</tr>
	{% endfor %}
</table>
{% endif %}

{% endblock %}

