{% extends 'base.html' %}

{% block content %}
    <div>
        <h2>sites: {{ user.sites.count }}</h2>
    </div>

    {% for site in user.sites.all %}
        <div class="site box">
            <div class="delete">
                <a href="{% url edit_site pk=site.pk %}">edit</a>
                <a href="{% url delete_site pk=site.pk %}" alt="delete" title="delete">x</a>
            </div>
            <h1><a href="{% url site_statistic pk=site.pk %}">{{ site.name }}</h1>
            <a href="{{ site.url }}" target="_blank">{{ site.url }}</a><br />
            
			<textarea name="embed-code" rows="8" cols="40">
<script type="text/javascript" charset="utf-8">
document.write('<sc' + 'ript type="text/javascript" charset="utf-8" src="' + 
			   (location.method == 'https:' ? 'https://' : 'http://') + 
			   '{{ active_site.domain }}{{ MEDIA_URL }}js/stat.js"></sc' + 'ript>');
</script>
<script type="text/javascript" charset="utf-8">
LAnalytics.init('0.0.0.0:8000', '{{ site.key }}');
</script>

			</textarea>
        </div>
    {% endfor %}
    
{% endblock %}